html, body {
  background-color: gray;
}

/* .btn-fade {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  background: seagreen;
  border: 1px solid white;
  box-shadow: 0px 1px 0 slategray;
  letter-spacing: 1px;
  transition: all 150ms linear;
}

 

.btn-fade:hover {
  color: #0e1111;
  background: transparent;
  text-decoration: none;
  text-shadow: -1px -1px 0 slategray;
  transition: all 250ms linear;
}*/

.admin-view {
  padding: 10%;
  background-image: url('./night-life.jpg');
}

.pic { 
  height: 100%;
}

.duration {
  height: 100%;
  padding: 10px;
  vertical-align: top;
  display: inline-block;
  width: 10%;
}

.song-artist {
  height: 100%;
  padding: 20px;
  vertical-align: top;
  display: inline-block;
  width: 60%;
}

.track-item {
  background: lightgray;
  margin: 20px;
  height: 100px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.track-item:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.search-bar-container {
  margin: 40px;
  padding: 10px;
  border: none;
  transition: .25s ease-in-out;
}

.search-bar-icon {
  display: inline-block;
  height: 40px;
  background: transparent;
}

.search-bar-container:hover {
  border: solid 3px gainsboro;
  border-radius: 33px;
  transition: .25s ease-in-out;
}

.search-bar-input {
  background-color: transparent;
  border: none;
  outline: none;
  height: 100%;
  font-size: 33px;
}

.form {
  height: 100%;
  display: inline-block;
  padding-left: 10px;
}

svg{
  fill: currentColor;
  color: white;
}