html, body {
  background-color: gray;
}

.search-list {
  float: left;
  width: 33%;
}

.search-pics {
  height: 250px;
}

.plus {
  color:#1DB954;
  font-size: 28px;
}

/* .btn-fade {
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  font-weight: 900;
  line-height: 45px;
  margin: 0 0 2em;
  max-width: 160px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  width: 100%;
  background: seagreen;
  border: 1px solid white;
  box-shadow: 0px 1px 0 slategray;
  letter-spacing: 1px;
  transition: all 150ms linear;
}

 

.btn-fade:hover {
  color: #0e1111;
  background: transparent;
  text-decoration: none;
  text-shadow: -1px -1px 0 slategray;
  transition: all 250ms linear;
}*/

.admin-view {
  padding: 10%;
  background-image: url('./night-life.jpg');
}

.pic { 
  height: 100%;
}

.duration {
  height: 100%;
  padding: 10px;
  vertical-align: top;
  display: inline-block;
  width: 10%;
}

.song-artist {
  height: 100%;
  padding: 20px;
  vertical-align: top;
  display: inline-block;
  width: 60%;
}

.track-item {
  background: lightgray;
  margin: 20px;
  height: 100px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.track-item:hover {
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}


.search-bar-container {
  margin: 40px;
  padding: 10px;
  border: none;
  transition: .25s ease-in-out;
}

.search-bar-icon {
  display: inline-block;
  height: 40px;
  background: transparent;
}

.search-bar-container:hover {
  border: solid 3px gainsboro;
  border-radius: 33px;
  transition: .25s ease-in-out;
}

.search-bar-input {
  background-color: transparent;
  color: #fff;
  border: none;
  outline: none;
  height: 100%;
  font-size: 33px;
}

.form {
  height: 100%;
  display: inline-block;
  padding-left: 10px;
}

svg{
  fill: currentColor;
  color: white;
}








/* BRYANNNSS */
  
.navbar {
  overflow: hidden;

  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
}

.navbar h1 {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 40px;
}


 /*  body{
    font-family: 'Merriweather', serif;
    background-color: black;
    color: white;
    background-image: url("danny-howe-365401-unsplash.jpg");
    background-size: cover;
  } */

 .button {
 
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 30px;
    margin: 4px 2px;
    width: 200px;

    height: 60px;
    border-radius: 40px;
    cursor: pointer;
    background-color: #555555;
}
  p.message {
    position :relative;
    color: white;
    font-size: 40px;
  
}
div.intro{
  text-align: center;

  width: 100%;
margin-top: 27%;
  height: 100px;


}
/* Standard syntax */
@keyframes mymove {
    from {bottom: 0px;}
    to {bottom: 200px;}
}